.QuestionSlider {
  background-color: #fff;
}

.Question {
  margin: 24px 0;
}

.Active {
  display: block;
}

.Inactive {
  display: none;
}

.ButtonsWrapper {
  display: flex;
  gap: 1em;
}

@media (max-width: 768px) {
  .ButtonsWrapper {
    justify-content: center;
  }
}
.AnswerButton {
  background-color: #edf0fa;
  padding: 12px;
  color: var(--primaryColor);
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #999;
  min-width: 40px;
  width: 50px;
}
