.QuestionSlider {
  background-color: var(--secondary-color);
}

.Question {
  margin: 24px 0;
}

.Active {
  display: block;
}

.Inactive {
  display: none;
}

.ButtonsWrapper {
  display: flex;
  gap: 1em;
}

.ProgressBarWrapper{
    display: flex;
    width: 100%;
    height: 25px;
    background-color: #edf0fa;
}

.ProgressBarFill {
    background-color: var(--primary-color);
}

@media (max-width: 768px) {
  .ButtonsWrapper {
    justify-content: center;
  }
}
.AnswerButton {
  background-color: #edf0fa;
  padding: 12px;
  color: var(--primaryColor);
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #999;
  min-width: 40px;
  width: 50px;
}
